__pycache__
.pytest_cache/*
.idea
gprof2dot/*
*.pyc
neurodemo_venv/*
neurodemo.egg-info/*
build/*
dist/*
demo.dist/*
demo.build/*
demo.onefile-build/*
demo.app.zip
demo.app
demo.exe
.eggs*
*.dmg
.DS_Store
demo.egg-info/*
demo.spec
settings.json